<!DOCTYPE html>
<html>
<head>
	<title>ProjetWeb Heng Joly</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/testScript.js" defer></script>	
</head>

<body>
	<div id="app">

	<div class="alert alert-warning alertmessage" v-if="displayAlert">    <button class="close" v-on:click="displayAlert=false">&times;</button>{{alertMessage}}</div>
	<img src="assets/bannière_mario.png" id="banner">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
	      <li><a v-on:click="mainText=homeText; titlePage=homeTitle; image=homeImage; onHome=true" class="pointer"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	      <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Good guys<span class="caret"></span></a>
	        <ul class="dropdown-menu">
	        	<li v-for="GoodGuy in GoodGuys"><a  class="pointer" v-on:click="changePage('Good Guys/' + GoodGuy)">{{GoodGuy}}</a></li> 
		      <!--<li><a class="pointer" v-on:click="changePage('Good Guys/Mario')">Mario</a></li>
		      <li><a class="pointer" v-on:click="changePage('Luigi')">Luigi</a></li>
		      <li><a href="#">Princess Toadstool</a></li>
		      <li><a href="#">Mushroom people</a></li>-->
		    </ul>
	      </li>

		  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bad guys<span class="caret"></span></a>
	        <ul class="dropdown-menu">
	        	<li v-for="BadGuy in BadGuys"><a  class="pointer" v-on:click="changePage('Bad Guys/' + BadGuy)">{{BadGuy}}</a></li> 
<!--		      <li><a href="#">Goomba</a></li>
		      <li><a href="#">Koopa</a></li>
		      <li><a href="#">Piranha Plant</a></li>
		      <li><a href="#">Cheep Cheep</a></li>
		      <li><a href="#">Bloober</a></li>
		      <li><a href="#">Bill Blaster</a></li>
		      <li><a href="#">Lakitu</a></li>
		      <li><a href="#">Spiny</a></li>
		      <li><a href="#">Buzzy Beetle</a></li>
		      <li><a href="#">King Koopa</a></li>-->
		    </ul>
	      </li>	 

	      <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Items<span class="caret"></span></a>
	        <ul class="dropdown-menu">
	        <li v-for="Item in Items"><a  class="pointer" v-on:click="changePage('Items/' + Item)">{{Item}}</a></li>
		      <!--<li><a href="#">Gold Coin</a></li>
		      <li><a href="#">Super Mushroom</a></li>
		      <li><a href="#">Fire Flower</a></li>
		      <li><a href="#">Super Star</a></li>
		      <li><a href="#">1-Up Mushroom</a></li>
		      <li><a href="#">Flagpole</a></li>-->
		    </ul>
	      </li>

	      <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Maps<span class="caret"></span></a>
	        <ul class="dropdown-menu">
	        <li v-for="Map in Maps"><a  class="pointer" v-on:click="changePage('Maps/' + Map)">{{Map}}</a></li>
		      <!--<li><a href="#">World 1</a></li>
		      <li><a href="#">World 2</a></li>
		      <li><a href="#">World 3</a></li>
		      <li><a href="#">World 4</a></li>
		      <li><a href="#">World 5</a></li>
		      <li><a href="#">World 6</a></li>
		      <li><a href="#">World 7</a></li>
		      <li><a href="#">World 8</a></li>-->
		    </ul>
	      </li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right" v-if="displayLogin">
	    	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Register"><p style="font-size: 14px; padding-top: 5px"><span class="glyphicon glyphicon-user"></span> Register</p></button>
	    	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Login"><p style="font-size: 14px; padding-top: 5px"><span class="glyphicon glyphicon-log-in"></span> Login</p></button>
	    </ul>
	    <ul class="nav navbar-nav navbar-right" v-if="!displayLogin">
	    	<button type="button" class="btn btn-info btn-lg textCursor" data-toggle="modal" data-target=""><p style="font-size: 14px; padding-top: 5px"><span class="glyphicon glyphicon-user"></span> {{userName}}</p></button>
	    	<button type="button" class="btn btn-info btn-lg " data-toggle="modal" v-on:click="logout"><p style="font-size: 14px; padding-top: 5px"><span class="glyphicon glyphicon-log-out"></span>logout </p></button>
	    </ul>
	  </div>
	</nav>

	<div id="Register" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title">Create your account</h1>
				</div>
				<div class="modal-body">
					<form v-on:submit.prevent="createAccount">
						<label for="login">Login</label>
						<input type="text" name="login">
						<br>
						<label for="password">Password</label>
						<input type="text" name="password">
						<br>
						<label for="password2">Confirm password</label>
						<input type="text" name="password2">
						<br><br>
						<input type="submit" class="btn btn-default" value="confirm">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div id="Login" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title">Login</h1>
				</div>
				<div class="modal-body">
					<form v-on:submit.prevent="login">
						<label for="user">user</label>
						<input type="text" name="user">
						<br>
						<label for="password">Password</label>
						<input type="text" name="password">
						<br><br>
						<input type="submit" class="btn btn-default" value="confirm">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-group-vertical" data-spy="affix" >
	<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#Edit" v-if="loggedin && !onHome">edit </button> 
	<button type="button" class="btn btn-primary" data-spy="affix" data-toggle="modal" v-if="loggedin && !onHome" v-on:click="deletePage">delete </button> 
	<button type="button" class="btn btn-primary" data-spy="affix" data-toggle="modal" v-if="loggedin" data-target="#Create">create </button> 

	</div>
		<div id="Create" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title">Create</h1>
				</div>
				<div class="modal-body">
					<form v-on:submit.prevent="createPage">
<label for="category">Catégorie</label>
<select name="cat" class="form-control">
	<option v-for="cat in category">{{cat}}</option>
</select>

    					<label for="PageName">PageName</label>
						<input type="text" name="pageName">
    					<label for="textEdit">Text</label>
						<textarea class="form-control" rows="10" name="pageText" > </textarea>
						<br>
    					<label for="image" >image</label>
						<input type="text" name="image">
						<br><br>
						<input type="submit" class="btn btn-default" value="confirm">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

		<div id="Edit" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="modal-title">Edit</h1>
				</div>
				<div class="modal-body">
					<form v-on:submit.prevent="editPage">

    					<label for="textEdit">text</label>
						<textarea class="form-control" rows="10" name="textEdit" v-model="mainText">{{mainText}} </textarea>
						<br>
    					<label for="image" >image</label>
						<input type="text" name="image" v-model="image">
						<br><br>
						<input type="submit" class="btn btn-default" value="confirm">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div  class="container" align="center">
		<p><h1>{{titlePage}}</h1></p>
		<p class="preservereturn"><img v-bind:src="image" alt="could not load image" class="picture" align="right">{{mainText}}</p>

	</div>
</div>

</body>
</html>
