#banner{
    min-width:1000px;
    width: 100%;
}

body{
    background-color: #B10C14;
}

p{
    text-align: justify;
}

.navbar-default{
    background-color: #EF0002;
    border: none;
    color: white;
}

.navbar-default .navbar-nav>li>a{
    color: black;
    font-family: Arial;
}

.navbar-default .navbar-nav>li>a:hover{
    color: white;
}

.dropdown-menu{
    background-color: #EF2828;
}

.navbar-nav .btn{
    background-color: #EF0002;
    border: none;
    color: black;
    font-family: Arial;
}

.modal-header{
    background-color: #0099ff;
}

.modal-body, .modal-footer{
    background-color: #b3e6ff;
}

.picture{
    width: 20%;
    min-width: 300px;
}

.container {
    width:80%;
    max-width: 1000px;
    min-width: 700px;
    background: #DDC4D7;
}

.pointer {cursor: pointer;}

.preservereturn{white-space: pre-line}

.alertmessage {
        position: fixed;
        top: 20%;
        left: 50%;
        text-align: center;
        z-index: 99999 ;
    }

     .textCursor {cursor: text;}